<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <title> A3 </title>
</head>

<body>
    <nav id="destop-nav">
        <div class="logo"> </div>
        <div>
            <ul class ="nav links">
                <li><a href="/"><strong>Home</strong></a></li>
                <li><a href="/trail"><strong>Trail</strong></a></li>
                <li><a href="/about"><strong>About</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
            </ul>
        </div>
    </nav>
    <hr>



</body>
</html>