<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <title> A3 </title>
</head>

<body>
    <nav id="destop-nav">
        <div class="logo"> </div>
        <div>
            <ul class ="nav links">
                <li><a href="/"><strong>Home</strong></a></li>
                <li><a href="/trail"><strong>Trail</strong></a></li>
                <li><a href="/about"><strong>About</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
            </ul>
        </div>
    </nav>
    

        <div class="one">
            <h2>Trail 1 <br> Description about Trail 1</h2>
        </div>

        <div class="two">
            <h2>Trail 2 <br> Description about Trail 2</h2>
         </div>

        <div class="three">
            <h2>Trail 3 <br> Description about Trail 3</h2>
        </div>

        <div class="four">
            <h2> Explore More</h2>
        </div>

        </div>




</body>
</html>