* {
    box-sizing: border-box;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}
/*Style the website's background color and scroll effect*/
html {
    scroll-behavior: smooth;
    background-color: white;
}
/* Default div style to isolate bidirectional text*/
div {
    display: block;
    unicode-bidi: isolate;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo-title-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    width: auto;
}

.site-title {
    font-size: 25px;
    color: #fff;
    margin-left: 10px;
    font-family: Arial, sans-serif;
}

.topnav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    overflow: hidden;
}

.topnav a {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 765px) {
    .hamburger {
        display: block;
    }
    .logo img {
        height: 50px;
        width: auto;
    }

    .site-title {
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
        font-family: Arial, sans-serif;
    }

    .topnav {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: 70px;
        left: 0;
        background-color: rgba(51, 51, 51, 0.9);
    }
    .topnav a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
}





.video-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.video01 {
    background-color: #c5e1b4;
}

.video02 {
    background-color: #f9d4a1;
    flex-direction: row-reverse;
}

.video03 {
    background-color: #81cee1;
}

.video04 {
    background-color: #83e18f;
    flex-direction: row-reverse;
}

.video-item {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
}

.video-item iframe {
    width: 48%;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
}

.video-description {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-description h3 {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin: 0 0 10px 0;
}

.video-description p {
    color: #4c4c4c;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
}

@media (max-width: 800px) {
    .video-item {
        flex-direction: column;
    }
    .video-item iframe, .video-description {
        width: 100%;
    }
    .video-description h3 {
        font-size: 20px;
    }
    .video-description p {
        font-size: 14px;
    }
}






.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-text {
    color: white;
    font-size: 6vw;
    font-weight: bold;
}

@media (max-width: 768px) {
    .text-container {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-text {
        font-size: 7vw;
    }
}

@media (max-width: 480px) {

    .text-container {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-text {
        font-size: 8vw;
    }
}




.footer {
    overflow:hidden;
    text-align: center;
    color: #f2f2f2;
    background-color: rgba(30, 32, 32, 0.95);
    display: flex;
    justify-content: center;
    top:0;
}
.footer a {
    float:left;
    display:flex;
    text-decoration:none;
    padding:15px 40px;
}
.footer a img {
    width: 30px;
    height: auto;
    display:block;
}
.footer a:hover {
    background-color: rgba(101, 107, 110, 0.7);
}

.footer p {
    color: white;
    padding:15px 40px;
    margin:0;
}

#backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    background-color: #5492af;
    color: rgba(255, 255, 255, 0.737);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
}
#backToTop:hover {
    background-color: #afb4b3;
}
